@font-face {
  font-family: 'Notable';
  src: url("/fonts/Notable-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Imprima';
  src: url("/fonts/Imprima-Regular.ttf") format("truetype");
}


header {
  display: flex;
  gap: 40px;

  .logo {
    margin: 20px 0;
    background-image: url("/logo.svg");
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  h1 {
    font-family: 'Notable';
    font-size: 52px;
    margin-bottom: 10px;
  }

  div {
    font-size: 21px;
    font-family: 'Imprima';
    margin-left: 5px;
  }

}