body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #FDFCF9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#root {
  max-width: min(70vw, 1440px);
  margin: 0 auto;

  main {
    margin-left: 210px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 85%;
    gap: 80px;

    article {
      flex: 1 1 auto;
      min-width: 0;
      display: flex;
      align-items: flex-start;
      gap: 60px;
      line-break: anywhere;
    }

    aside {
      align-self: flex-start;
      top: 80px;
      position: sticky;
      flex: 0 0 120px;
    }

    .article-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }

    .article {
      width: 100%;
    }
  }
}